

/* ========================================== 
=============================================

				UNIVERSAL STYLE 
		
========================================== 
============================================= */
* {
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s; }

body {
  margin: 0px;
  padding: 0px;
  font-family: 'latoregular';

}
ul{margin: 0; padding: 0;list-style: none;}
.sitemap > li{background: #01c7c8; color: #fff; text-align: center; display: table;margin-bottom: 25px; padding: 8px 65px;position: relative;}
.sitemap > li > span{display: block;}
.sitemap > li > span.count{background:#ff9602; border-radius:4px; color: #fff;font-size: 16px; height: 36px;left: 100%;padding: 7px 2px; position: absolute;
    top: 50%; transform: translateY(-50%);-webkit-transform: translateY(-50%);-ms-transform: translateY(-50%);-o-transform: translateY(-50%);margin-left: 20px; width: 41px;}

.sitemap > li > span.count::before{
  width: 0;
  height: 0;
  position: absolute;
  content: "";
  border-right:8px solid #ff9602;
  border-left:8px solid transparent;
  border-bottom:8px solid transparent;
  border-top:8px solid transparent;
  right: 100%;
  top: 50%; transform: translateY(-50%);-webkit-transform: translateY(-50%);-ms-transform: translateY(-50%);-o-transform: translateY(-50%);
  

}

.sitemap >li:nth-child(2)
{
  margin-left: 120px;
}
.sitemap >li:nth-child(3)
{
  margin-left: 240px;
}
.sitemap >li:nth-child(4)
{
  margin-left: 360px;
}
.sitemap >li:last-child::before,.sitemap >li:last-child::after{
  content: none;
}
.sitemap > li::after {
    border-left: 1px dashed #000;
    border-bottom: 1px dashed #000;
    content: "";
    height: 43px;
    width:20%;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}

.sitemap > li::before {
    background: #127474;
    border-radius: 100%;
    content: "";
    height: 7px;
    left: 50%;
    margin-left: 21px;
    margin-top: 39px;
    position: absolute;
    top: 100%;
    transform: translateX(-50%);
    width: 7px;
}

/*FLOW CHART SYTLE  */

.flow-title{background: #01c7c8; color: #fff;padding: 8px 65px;position: relative;display:table; margin: auto;}
.flow-title::after {
    border-left: 1px dashed #000;
    content: "";
    height: 43px;
    left: 50%;
    position: absolute;
    top: 100%;
    transform: translateX(-50%);
}

/* .flow-title::before {
    background: #127474;
    border-radius: 100%;
    content: "";
    height: 7px;
    left: 50%;
    margin-top: 39px;
    position: absolute;
    top: 100%;
    transform: translateX(-50%);
    width: 7px;
}   */

.flowchart{ float: left;
    margin-top: 0px;
    padding-top: 102px;
    position: relative;
    width: 100%;}

.flowchart::after {
    border-bottom: 1px dashed #000;
    content: "";
    height: 43px;
    left: 50%;
    position: absolute;
    top: 0;
    transform: translateX(-50%);
    width: 80%;
}

.flowchart > li{
  float: left;background: #01c7c8; color: #fff;padding: 8px 58px;margin: 0 6px;position: relative;
}
.flowchart > li::after {
    border-left: 1px dashed #000;
    content: "";
    height: 43px;
    left: 50%;
    position: absolute;
    bottom: 100%;
    transform: translateX(-50%);
    margin-bottom: 16px;
}
  
.flowchart > li::before {
    background: #127474;
    border-radius: 100%;
    content: "";
    height: 7px;
    left: 50%;
    margin-top: 39px;
    position: absolute;
    bottom: 100%;
    transform: translateX(-50%);
    width: 7px;
     margin-bottom: 16px;
}



