

/* ========================================== 
=============================================

				UNIVERSAL STYLE 
		
========================================== 
============================================= */
* {
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s; }

body {
  margin: 0px;
  padding: 0px;
  font-family: 'latoregular';

}
ul{margin: 0; padding: 0;list-style: none;}
.sitemap > li{background: #01c7c8; color: #fff; text-align: center; display: table;margin-bottom: 25px; padding: 8px 65px;position: relative;}
.sitemap > li > span{display: block;}
.sitemap >li:nth-child(2)
{
  margin-left: 120px;
}
.sitemap >li:nth-child(3)
{
  margin-left: 240px;
}
.sitemap >li:nth-child(4)
{
  margin-left: 360px;
}
.sitemap >li:last-child::before,.sitemap >li:last-child::after{
  content: none;
}
.sitemap > li::after {
    border-left: 1px dashed #000;
    border-bottom: 1px dashed #000;
    content: "";
    height: 43px;
    width:20%;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}

.sitemap > li::before {
    background: #127474;
    border-radius: 100%;
    content: "";
    height: 7px;
    left: 50%;
    margin-left: 21px;
    margin-top: 39px;
    position: absolute;
    top: 100%;
    transform: translateX(-50%);
    width: 7px;
}
